{% extends "layout.html" %}

{% block pageTitle %}
  Payment reissued
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Manage citizen contact
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/agent/v1/history">Citizen history</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/agent/v1/update">Update</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Payment reissued</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

      <h1 class="govuk-heading-l">Which payments have you reissued?</h1>

      <table class="govuk-table govuk-!-margin-bottom-8" data-module="moj-multi-select" data-multi-select-checkbox="#select-all" >
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" id="select-all"></th>
            <th class="govuk-table__header" scope="col">Payment</th>
            <th class="govuk-table__header" scope="col">Amount</th>
            <th class="govuk-table__header" scope="col">Start date</th>
            <th class="govuk-table__header" scope="col">End/due date</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="JSA">
                <label class="govuk-label govuk-checkboxes__label" for="JSA">
                  <span class="govuk-visually-hidden">Select JSA</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__header">Job Seeker's Allowance (JSA)</td>
            <td class="govuk-table__cell">£138.80</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">15/04/2022</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Edit</a></td>
          </tr>
          <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="JSA">
                <label class="govuk-label govuk-checkboxes__label" for="JSA">
                  <span class="govuk-visually-hidden">Select JSA</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__header">Disability Living Allowance (DLA)</td>
            <td class="govuk-table__cell">£100.00</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">15/04/2022</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Edit</a></td>
          </tr>
        </tbody>
      </table>

      <button class="govuk-button" data-module="govuk-button">Confirm update</button>



{% endblock %}
