{% extends "layout.html" %}

{% block pageTitle %}
  Communication sent
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Manage citizen contact
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Citizen history</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="javascript:history.back()">Update</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Communication sent</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Which type of communication did you send?</h1>

      <form class="form" action="../v1-2/history-bvd-success" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="comm" name="comm" type="radio" value="DpGen">
                <label class="govuk-label govuk-radios__label" for="comm">
                  DpGen
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="comm2" name="comm" type="radio" value="2DpGen">
                <label class="govuk-label govuk-radios__label" for="comm2">
                  Second DpGen
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="comm3" name="comm" type="radio" value="sms">
                <label class="govuk-label govuk-radios__label" for="comm3">
                  Text message (SMS)
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Confirm update</button>

      </form>

    </div>
  </div>

{% endblock %}
