{% extends "layout.html" %}

{% block pageTitle %}
  Citizen overview
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Manage citizen contact
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="../v1-2/case-list-b50" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">History has been updated</h3>
          <p class="govuk-body">You have sent a DpGen to Berend Van Duuren</p>
        </div>
      </div>

      <span class="govuk-caption-xl">BB 44 55 99 D</span>
      <h1 class="govuk-heading-xl">Berend Van Duuren</h1>
      <strong class="govuk-tag govuk-tag--turquoise govuk-!-margin-bottom-8">dpgen sent</strong>

      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l">Contact history</h1>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">
              <a href="../v1/update" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Add update</a>
            </div>
          </div>
        </div>
      </div>


      <div class="moj-timeline">

        <div class="moj-timeline__item govuk-!-margin-bottom-8">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title govuk-!-font-size-24">DpGen sent</h2>
            <p class="moj-timeline__byline govuk-!-font-size-24">by Alex Thomson</p>
          </div>
          <p class="moj-timeline__date govuk-!-font-size-19">
            <time datetime="2022-06-16T02:00:00.000Z">15 June 2022 at 2:00pm</time>
          </p>
        </div>

        <div class="moj-timeline__item govuk-!-margin-bottom-8">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title govuk-!-font-size-24">Payment returned: Retirement Pension (RP)</h2>
            <p class="moj-timeline__byline govuk-!-font-size-24"></p>
          </div>
          <p class="moj-timeline__date govuk-!-font-size-19">
            <time datetime="2022-06-14T14:00:00.000Z">13 June 2022 at 2:00pm</time>
          </p>
          <div class="moj-timeline__description">
            <details class="govuk-details govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Payment details
                </span>
              </summary>
              <div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
              <table class="govuk-table govuk-!-margin-top-2">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Amount</th>
                      <td class="govuk-table__cell">£1114.80</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Due date</th>
                      <td class="govuk-table__cell">8 June 2022</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Service ID</th>
                      <td class="govuk-table__cell">RPQO</td>
                    </tr>
                    <th scope="row" class="govuk-table__header">Name on account</th>
                    <td class="govuk-table__cell">Berend Van Duuren</td>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Account number</th>
                      <td class="govuk-table__cell">44559900</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Sort code</th>
                      <td class="govuk-table__cell">11-22-33</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Building society roll number</th>
                      <td class="govuk-table__cell">-</td>
                    </tr>
                  </tbody>
                </table>
                </div></div>
            </details>
          </div>
        </div>

      </div>











{% endblock %}
