{% extends "layout.html" %}

{% block pageTitle %}
  Outstanding cases
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="#">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#">Outstanding cases (98)</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#">Cases on hold (2)</a>
          </li>
        </ul>

      </nav>

    </div>
    <div class="moj-primary-navigation__search">

      <div class="moj-search moj-search--ondark moj-search--inline">
        <form action="../v2/history-am" method="get">

          <div class="govuk-form-group">
            <label class="govuk-label moj-search__label govuk-visually-hidden" for="search-1">
              Search
            </label>

            <input class="govuk-input moj-search__input" id="search-1" name="search-1" type="search">
          </div>

          <button class="govuk-button moj-search__button" data-module="govuk-button">
            Find someone
          </button>

        </form>
      </div>

    </div>
  </div>
  </div>

{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="moj-banner moj-banner--success" role="region" aria-label="Success">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
  </svg>
  <div class="moj-banner__message govuk-!-font-weight-bold">You have successfully added a new update to <a class="govuk-notification-banner__link" href="#">BB445599D - Berend Van Duuren:</a>
  <p>Case handed off</p>
  </div>
</div>



<!--<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Contact history updated
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">You have added 2 new updates to<br><a class="govuk-notification-banner__link" href="#">AA112233M - Anna Miller</a>:</h3>
    <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Bank details updated following a citizen call</li>
        <li>Payment reissued: Attendance Allowance (AA)</li>
      </ul>
  </div>
</div>-->


<h1 class="govuk-heading-l">Outstanding cases</h1>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Filter cases
    </span>
  </summary>
  <div class="govuk-details__text">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset govuk-!-margin-bottom-2">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="select-all" name="JSA" type="checkbox" value="JSA" checked>
            <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="JSA">Select all</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="JSA" name="JSA" type="checkbox" value="JSA" checked>
            <label class="govuk-label govuk-checkboxes__label" for="JSA">Job Seeker's Allowance (JSA)</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="ESA" name="ESA" type="checkbox" value="ESA" checked>
            <label class="govuk-label govuk-checkboxes__label" for="ESA">Employment Support Allowance (ESA)</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="IS" name="IS" type="checkbox" value="IS" checked>
            <label class="govuk-label govuk-checkboxes__label" for="IS">Income Support (IS)</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="RP" name="RP" type="checkbox" value="RP" checked>
            <label class="govuk-label govuk-checkboxes__label" for="RP">Retirement Pension (RP)	</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="AA" name="AA" type="checkbox" value="AA" checked>
            <label class="govuk-label govuk-checkboxes__label" for="AA">Attendance Allowance (AA)</label>
          </div>

          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="DLA" name="DLA" type="checkbox" value="DLA" checked>
                <label class="govuk-label govuk-checkboxes__label" for="DLA">Disability Living Allowance (DLA)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="IB" name="IB" type="checkbox" value="IB" checked>
                <label class="govuk-label govuk-checkboxes__label" for="IB">Incapacity Benefit (IB)	</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PIP" name="PIP" type="checkbox" value="PIP" checked>
                <label class="govuk-label govuk-checkboxes__label" for="PIP">Personal Independent Payment (PIP)	</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="SP" name="SP" type="checkbox" value="SP" checked>
                <label class="govuk-label govuk-checkboxes__label" for="SP">Seasonal Payments (SP)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="SP" name="SP" type="checkbox" value="SP" checked>
                <label class="govuk-label govuk-checkboxes__label" for="SP">Get Your State Pension (GYSP)</label>
              </div>

            </div>
          </fieldset>

        </div>


    </div>
    <button class="govuk-button" data-module="govuk-button">Apply filters</button>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">

    </div>
  </div>
</details>

<table class="govuk-table">
<thead class="govuk-table__head">
<caption class="govuk-table__caption govuk-table__caption--m">The team have 98 cases to work on</caption>
<tr class="govuk-table__row">
  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cases</th>
  <th scope="col" class="govuk-table__header govuk-table__header"></th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">1. New cases</th>
    <td class="govuk-table__cell">New cases with returned payments that require suitability checks</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">75</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../v2/unavailable">Start</a></td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">2. Additional action cases</th>
    <td class="govuk-table__cell">Cases still in progress that require additional actions</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../v2/unavailable">Start</a></td>
</tr>
</tbody>
</table>




















<script type="text/javascript">const selectAll = document.getElementById('select-all');
const checkboxes = [];
const allCheckboxes = document.querySelectorAll('input[type="checkbox"]');

for (const checkbox of allCheckboxes) {
  if (checkbox.id !== 'select-all') {
    checkboxes.push(checkbox);
  }
}

for (const checkbox of checkboxes) {
  checkbox.onclick = (ele) => {
    if (checkboxes.every((item) => item.checked)) {
      selectAll.checked = ele.target.checked;
    } else {
      selectAll.checked = false;
    }
  };
}

selectAll.onclick = () => {
  for (const checkbox of checkboxes) {
    checkbox.checked = selectAll.checked;
  }
};</script>



{% endblock %}
