{% extends "layout.html" %}

{% block pageTitle %}
  Cases on hold
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="#">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="../v2/case-list-2">Outstanding cases (99)</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#">Cases on hold (2)</a>
          </li>
        </ul>

      </nav>

    </div>
    <div class="moj-primary-navigation__search">

      <div class="moj-search moj-search--ondark moj-search--inline">
        <form action="" method="get">

          <div class="govuk-form-group">
            <label class="govuk-label moj-search__label govuk-visually-hidden" for="search-1">
              Search
            </label>

            <input class="govuk-input moj-search__input " id="search-1" name="search-1" type="search">
          </div>

          <button class="govuk-button moj-search__button " data-module="govuk-button">
            Find someone
          </button>

        </form>
      </div>

    </div>
  </div>
  </div>

{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}
<div class="moj-banner moj-banner--success" role="region" aria-label="Success">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
  </svg>
  <div class="moj-banner__message govuk-!-font-weight-bold">You have successfully put <a class="govuk-notification-banner__link" href="../v2/history-hh1">HH998877H - Hannah Holmes</a> on hold
  </div>
</div>


<h1 class="govuk-heading-l">Cases on hold</h1>

<table class="govuk-table">
<thead class="govuk-table__head">
<caption class="govuk-table__caption govuk-table__caption--m">The team have 2 cases on hold</caption>
<tr class="govuk-table__row">
  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Case</th>
  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Reason</th>
  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Updated by</th>
  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <td class="govuk-table__cell">XX 00 88 77 D</td>
  <td class="govuk-table__cell">-</td>
  <td class="govuk-table__cell">Joe Bloggs</td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../v2/unavailable">Update</a></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">HH 99 88 77 H</td>
  <td class="govuk-table__cell">no access to server</td>
  <td class="govuk-table__cell">Alex Thomson</td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../v2/history-hh1">Update</a></td>
</tr>
</tbody>
</table>




















{% endblock %}
