{% extends "layout.html" %}

{% block pageTitle %}
  Bank details updated
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="../v2/home">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="../awacs/case-list">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="../v2/unavailable">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/case-list">Outstanding cases</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="">Citizen history</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/update">Update</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Details updated</a>
  </li>
</ol>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Bank details updated</h1>

            <h2 class="govuk-heading-m govuk-!-margin-top-8">How did you receive bank details?</h2>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                        <label class="govuk-label govuk-radios__label" for="contact-2">
                          Citizen returned DpGen
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="contact-by-phone">
                            Input DpGen batch number
                          </label>
                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                        </div>

                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                        <label class="govuk-label govuk-radios__label" for="contact-3">
                          Phone call with citizen
                        </label>
                      </div>
                    </div>

              </fieldset>
            </div>

            <h2 class="govuk-heading-m govuk-!-margin-top-8">Input citizen bank details.</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="name-on-the-account">
                Name on the account
              </label>
              <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false" autocomplete="name">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="sort-code">
                Sort code
              </label>
              <input class="govuk-input govuk-input--width-5" id="sort-code" name="sort-code" type="text" spellcheck="false" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="account-number">
                Account number
              </label>
              <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>
            <div class="govuk-form-group govuk-!-margin-bottom-8">
              <label class="govuk-label" for="roll-number">
                Building society roll number
              </label>
              <input class="govuk-input govuk-input--width-10" id="roll-number" name="roll-number" type="text" spellcheck="false" aria-describedby="roll-number-hint">
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="benefits-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">Which benefits have you updated the bank details for?</h1>
                </legend>
                <div id="benefits-hint" class="govuk-hint">
                  Select all that apply.
                </div>
                <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="JSA" name="JSA" type="checkbox" value="JSA">
                    <label class="govuk-label govuk-checkboxes__label" for="JSA">Job Seeker's Allowance (JSA)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="ESA" name="ESA" type="checkbox" value="ESA">
                    <label class="govuk-label govuk-checkboxes__label" for="ESA">Employment Support Allowance (ESA)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="IS" name="IS" type="checkbox" value="IS">
                    <label class="govuk-label govuk-checkboxes__label" for="IS">Income Support (IS)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="RP" name="RP" type="checkbox" value="RP">
                    <label class="govuk-label govuk-checkboxes__label" for="RP">Retirement Pension (RP)	</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="AA" name="AA" type="checkbox" value="AA">
                    <label class="govuk-label govuk-checkboxes__label" for="AA">Attendance Allowance (AA)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="DLA" name="DLA" type="checkbox" value="DLA">
                    <label class="govuk-label govuk-checkboxes__label" for="DLA">Disability Living Allowance (DLA)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="IB" name="IB" type="checkbox" value="IB">
                    <label class="govuk-label govuk-checkboxes__label" for="IB">Incapacity Benefit (IB)	</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="PIP" name="PIP" type="checkbox" value="PIP">
                    <label class="govuk-label govuk-checkboxes__label" for="PIP">Personal Independent Payment (PIP)	</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="SP" name="SP" type="checkbox" value="SP">
                    <label class="govuk-label govuk-checkboxes__label" for="SP">Seasonal Payments (SP)</label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="SP" name="SP" type="checkbox" value="SP">
                    <label class="govuk-label govuk-checkboxes__label" for="SP">Get Your State Pension (GYSP)</label>
                  </div>


                </div>
              </fieldset>
            </div>

            <form class="form" action="../v2/redirect" method="post">
            <div class="govuk-form-group govuk-!-margin-bottom-8">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">Have you reissued a replacement payment to this account?</h1>
                </legend>
                <div id="changed-name-hint" class="govuk-hint">
                  If yes, the system will direct you to another page to input the details of the payments you have reissued.
                </div>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="redirectUrl" type="radio" value="../v2/payment-reissued-abank">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="redirectUrl" type="radio" value="../v2/history-success">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <button class="govuk-button" data-module="govuk-button">Confirm update</button>
            </form>

    </div>
  </div>

{% endblock %}
