{% extends "layout.html" %}

{% block pageTitle %}
  Case handed off
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="#">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/case-list-2">Outstanding cases</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/history-bvd">Citizen history</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/update">Update</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Case handed off</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"> Why have you handed off the case?</h1>

      <form class="form" action="../v2/case-list-3b" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="deceased" name="handed-off" type="radio" value="deceased">
                <label class="govuk-label govuk-radios__label" for="deceased">
                  Citizen/appointee is deceased
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="noresponse" name="handed-off" type="radio" value="noresponse">
                <label class="govuk-label govuk-radios__label" for="noresponse">
                 Citizen has not responded after second DpGen
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="npes" name="handed-off" type="radio" value="npes">
                <label class="govuk-label govuk-radios__label" for="inactive">
                  Payment Exception Service (NPES) case
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="details-missing" name="handed-off" type="radio" value="details-missing">
                <label class="govuk-label govuk-radios__label" for="notscope">
                  Details missing or incorrect
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="inactive" name="handed-off" type="radio" value="inactive">
                <label class="govuk-label govuk-radios__label" for="inactive">
                  Claim is dormant
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="notscope" name="handed-off" type="radio" value="notscope">
                <label class="govuk-label govuk-radios__label" for="notscope">
                  Benefit is not in scope
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Confirm update</button>

      </form>

    </div>
  </div>

{% endblock %}
