{% extends "layout.html" %}

{% block pageTitle %}
  Citizen overview
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="../v2/home">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="../awacs/case-list">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="../v2/unavailable">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/case-list">Outstanding cases</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Citizen history</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Joan Hunt</h1>
<h2 class="govuk-heading-m govuk-!-font-weight-regular govuk-!-bottom-9">NINO <strong class="govuk-!-margin-right-4"> JJ 55 66 00 H </strong> Reference Number <strong>00-42JJ-8AW0</strong></h2>

<div class="govuk-button-group govuk-!-margin-top-6">
  <a href="../v2/update" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button moj-page-header-actions__action" data-module="govuk-button">Update history</a>
  <a href="../v2/case-list-hold-new" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">Put case on hold</a>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-9">
<div class="moj-page-header-actions">
  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-l">Contact history</h1>
  </div>
  <div class="moj-page-header-actions__actions">
    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">
        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-2">1 Outstanding payment</strong>
      </div>

    </div>
  </div>
</div>

      <div class="moj-timeline">

        <div class="moj-timeline__item govuk-!-margin-bottom-8">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title govuk-!-font-size-24">1 Payment returned: Employment Support Allowance (ESA)</h2>
            <p class="moj-timeline__byline govuk-!-font-size-24"></p>
          </div>
          <p class="moj-timeline__date govuk-!-font-size-19">
            <time datetime="2022-06-10T10:45:00.000Z">10 June 2022 at 10:45am</time>
          </p>
          <div class="moj-timeline__description">
            <details class="govuk-details govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Payment details
                </span>
              </summary>
              <div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
              <table class="govuk-table govuk-!-margin-top-2">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Amount</th>
                      <td class="govuk-table__cell">£308.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Due date</th>
                      <td class="govuk-table__cell">7 June 2022</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Service ID</th>
                      <td class="govuk-table__cell">SAQF</td>
                    </tr>
                    <th scope="row" class="govuk-table__header">Name on account</th>
                    <td class="govuk-table__cell">Joan Hunt</td>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Account number</th>
                      <td class="govuk-table__cell">55660001</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Sort code</th>
                      <td class="govuk-table__cell">11-22-33</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Building society roll number</th>
                      <td class="govuk-table__cell">-</td>
                    </tr>
                  </tbody>
                </table>
                </div></div>
            </details>
          </div>
        </div>

      </div>











{% endblock %}
