{% extends "layout.html" %}

{% block pageTitle %}
  Payment reissued
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="#">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/case-list-3b">Outstanding cases</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/history-am">Citizen history</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/update">Update</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/details-updated">Details updated</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Payment reissued</a>
  </li>
</ol>
</div>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Which of the following payments have you reissued?</h1>
      <div id="with-hint-hint" class="govuk-hint">
        You can manually edit payment details if you reissued one amount for a series of payments for the same benefit.
      </div>
    </div>
  </div>
      <form class="form" action="../v2/suspended-account" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-6">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">



                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="payment" name="payment" type="checkbox" value="RP" checked>
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="payment">Retirement Pension (RP) - £251.02<br><p>Returned payment date: 26 July 2022</p>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Edit details
                        </span>
                        </summary>
                      <div class="govuk-details__text">
                      <!--<label class="govuk-label" for="amount">You can manually edit details if you reissued one amount for a series of payments of the same benefit.</label>-->
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Amount<p class="govuk-hint">For example, £193.54</p></dt>
                            <dd class="govuk-summary-list__value">
                              <div class="govuk-input__wrapper">
                              <div class="govuk-input__prefix" aria-hidden="true">£</div>
                              <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
                              </div>
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Start date<p class="govuk-hint">For example, 28 2 2022</p></dt>
                            <dd class="govuk-summary-list__value">
                              <div class="govuk-date-input__item">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="text" inputmode="numeric">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="text" inputmode="numeric">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="text" inputmode="numeric">
                              </div>
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">End date<p class="govuk-hint">For example, 28 2 2022</p></dt>
                            <dd class="govuk-summary-list__value">
                              <div class="govuk-date-input__item">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="text" inputmode="numeric">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="text" inputmode="numeric">
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="text" inputmode="numeric">
                              </div>
                            </dd>
                          </div>
                        </dl>

                      </div>
                      </details>
                    </label>
                  </div>


                </div>
            </div>

        <button class="govuk-button" data-module="govuk-button">Confirm update</button>

      </form>





{% endblock %}
