{% extends "layout.html" %}

{% block pageTitle %}
Suspended account
{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__logo">
      <a class="hmcts-header__link" href="#">Remittance service</a>
    </div>

  <div class="hmcts-header__content">
    <nav class="hmcts-header__navigation" aria-label="Account navigation">
      <ul class="hmcts-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage redirected payments
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="#">
           Manage returned payments
          </a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a class="govuk-header__link" href="#">
           Manage citizen contact
          </a>
        </li>

      </ul>
    </nav>
  </div>


  </div>
  </header>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/case-list-3b">Outstanding cases</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/history-am">Citizen history</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/update">Update</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/details-updated">Details updated</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../v2/payment-reissued-abank">Payment reissued</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Suspended case reminder</a>
  </li>
</ol>
</div>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="case-list-4b" method="post">
        <h1 class="govuk-heading-l">Set a date to remove suspension.</h1>
        <div id="with-hint-hint" class="govuk-hint govuk-!-margin-bottom-8">
          The case will automatically appear in the 'Additional action cases' on that date, to prompt the team to remove the suspension from the claim.
        </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="benefits-hint">
          <div class="govuk-date-input govuk-!-margin-bottom-6" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Confirm update</button>

      </form>





{% endblock %}
