{% extends "layout.html" %}

{% block header %}
<header class="hmcts-header" role="banner">
<div class="hmcts-header__container">

  <div class="hmcts-header__logo">
    <a class="hmcts-header__link" href="#">Manage citizen contact</a>
  </div>

<div class="hmcts-header__content">
  <nav class="hmcts-header__navigation" aria-label="Account navigation">
  </nav>
</div>

</div>
</header>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Prototype history
      </h1>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Prototype V1
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <table class="govuk-table govuk-!-margin-top-2">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last update:</th>
                    <td class="govuk-table__cell">15 June 2022</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Created:</th>
                    <td class="govuk-table__cell">3 May 2022</td>
                  </tr>
                </tbody>
              </table>

            <a href="../agent/v1/case-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              View prototype V1-1
            </a>
            <a href="../agent/v1-2/case-list-b" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              View prototype V1-2
            </a>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Prototype V2
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <table class="govuk-table govuk-!-margin-top-2">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last update:</th>
                    <td class="govuk-table__cell">28 July 2022</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Created:</th>
                    <td class="govuk-table__cell">24 June 2022</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Scenario paths:</th>
                    <td class="govuk-table__cell">
                      <ul class="govuk-list govuk-list--bullet">
                        <li><strong>Scenario 1:</strong>New cases > Update > communication sent > First DpGen > Case-list & success banner > (optional step) Check updated history</li>
                        <li><strong>Scenario 2:</strong>New cases > Put case on hold > Cases on hold & success banner > (optional step) Check updated history</li>
                        <li><strong>Scenario 3:</strong>Additional action cases > Update > Hand off case > Case-list & success banner</li>
                        <li><strong>Scenario 4:</strong>Find someone > Update > Updated bank details > Reissued payment > Set suspension reminder > Case-list & success banner (optional step) > Check updated history</li>
                      </ul>
                    </td>
                  </tr>

                </tbody>
              </table>

            <a href="../agent/v2/case-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              View prototype
            </a>
          </div>
        </div>
      </div>
{% endblock %}
